<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kdsmile.cunghoctot" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <hook src="hooks/hookers.js" type="before_prepare"/>
    <hook src="hooks/beforedep.js" type="before_deploy"/>
    <name>C&#xF9;ng H&#x1ECD;c T&#x1ED1;t - &#xD4;n thi THPT qu&#x1ED1;c gia hi&#x1EC7;u qu&#x1EA3; , th&#xFA; v&#x1ECB;</name>
    <description>
        Cordova app
    </description>
    <author email="cuduy197@gmail.com" href="http://github.com/cuduy197">
        cuduy197
    </author>
    <content src="index.html"/>
    <preference name="loadUrlTimeoutValue" value="700000"/>
    <plugin name="cordova-plugin-whitelist" spec="1"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
    <allow-navigation href="*"/>
    <engine name="browser" spec="~4.1.0"/>
    <engine name="android" spec="~6.1.2"/>
</widget>
